# === Arquivos e pastas do Eclipse / STS ===
.classpath
.project
.settings/

# === Maven ===
target/

# === IntelliJ IDEA ===
*.iml
.idea/

# === Arquivos de sistema ===
.DS_Store
Thumbs.db
source/

# === Logs ===
*.log

# === Temporários ===
*.tmp
*.bak
*.swp

# === Arquivos do JavaFX (caso gere build) ===
out/
bin/

# === Credenciais / configs locais ===
*.env
